* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* HEADER */
header {
    background-color: rgb(166, 25, 25);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoNegro {
    color: black;
    margin-left: 2px;
}

header a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

header a:hover {
    color: black;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

/* MAIN */
main {
    background-color: rgb(74, 65, 65);
}

/* PORTADA */
.portada {
    position: relative;
    background: linear-gradient(to right, rgba(7, 6, 6, 0.908), rgb(78, 18, 18));
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    color: white;
}

.portada h2 {
    font-size: 60px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.961);
    width: 50%;
    z-index: 1;
}

.portada .portadaOverlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 100%;
    background-image: url("https://i.pinimg.com/736x/5b/12/7c/5b127c9aad789fc9c885e50e21e2d814.jpg");
    background-size: cover;
    opacity: 0.7;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
}

.seccionPelis {
    padding: 20px;
    text-align: center;
}

.seccionPelis h2 {
    margin-bottom: 15px;
    font-size: 2em;
}

/* SECCION PELICULAS */
form {
    padding: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form input {
    padding: 4px;
    border: none;
    outline: none;
}

form button {
    background-color: rgb(186, 39, 39);
    color: white;
    border: none;
    outline: none;
    padding: 4px 10px;
}

form button:hover {
    cursor: pointer;
}

.contenedorPelis {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.contenedorPelis article {
    width: 150px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.contenedorPelis article:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.contenedorPelis img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
}

.contenedorPelis p {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
    text-align: center;
    padding: 5px;
}

/* POR QUE ELEGIRNOS */
.porque {
    background-color: rgb(65, 62, 62);
    color: white;
    padding: 20px;
}

h2 {
    text-align: center;
    color: white;
}

.contenedorTarjetas {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.contenedorTarjetas article {
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: all 0.5s ease;
    box-shadow: 10px 10px 10px black;

    img {
        width: 40px;
        height: 40px;
    }
}

.contenedorTarjetas article:hover {
    background-color: rgb(178, 160, 160);
    transform: translateY(-10px);
}

/* GALERIA DE IMAGENES */
.seccionGaleria {
    padding: 30px 100px;
}

.contenedorGrid {
    border: 2px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
}

.itemGrid {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.img1 {
    grid-row: 1/3;
    grid-column: 1/2;
}

.img2 {
    grid-row: 3/4;
    grid-column: 1/2;
}

.img3 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.img4 {
    grid-row: 2/4;
    grid-column: 2/3;
}

.img5 {
    grid-row: 1/2;
    grid-column: 3/5;
}

.img6 {
    grid-row: 2/3;
    grid-column: 3/4;
}

.img7 {
    grid-row: 2/3;
    grid-column: 4/5;
}

.img8 {
    grid-row: 3/4;
    grid-column: 3/5;
}